extends layout

block content
  header
    div(id="title")
      img(id="title-img", src="images/logo.png", class="img-responsive",alt="Responsive image")
    div(id="subtitle")
      span An easy way to install node.js on the Raspberry Pi
  div(class="separator")
  div(class="row content")
    div(class="col-md-2")
      img(class="img-circle content-img center-block", src="images/nodejs.png", style="margin-top: 50px;")
      span(class="caption") Node.JS
    span(class="col-md-2 equation") +
    div(class="col-md-2")
      img(class="content-img center-block", src="images/rpi.png")
      span(class="caption") Raspberry Pi
    span(class="col-md-2 equation") =
    div(class="col-md-4")
      img(class="img-circle content-img center-block", src="images/project.png")
      span(class="caption") Cool Projects!
  div(class="separator")
  div(id="steps")
    p Updates are posted to 
      a(href="http://redandwhite.herokuapp.com/", target="_blank") http://redandwhite.herokuapp.com/
    p Donations are welcome :)
      form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYB2TayuqnqfMhLV6wpwIc4hvAEqe4vwMq4KkCtBA1O2D7ajBmebWnVLoEl3YS01gSO9gxouzaa3JVFjJSXV9/jY1vkEYgoaJhHceUpNO+g74KSxxz5Ve6zD5CuTmE4fOkfWFEdyL7oUJwqFhMcEZ0yHtLShcqhtpWHwc+6bYRhXezELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQILKlHYQrQLWKAgYiEQHCWW9hZ6h9Pq9XWR+qAuGB/bUZpI9X7NycmxVLojwMnccHfwhV5SmP+ITF8g+DI7okGZxAC7aUDjRjenDCVK9IMeumqrAlB/ZaKpneN4oyZzuNuyB+GtBsleRnTESBXn6aFpv+OnDWC3QMqVl+8bAdMDBO/MZutBj36D7xO01V/d+hbrAQooIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUwMzE1MTc0MDM1WjAjBgkqhkiG9w0BCQQxFgQU3qgOAVpDSbNvlAFDwib+9sISsiUwDQYJKoZIhvcNAQEBBQAEgYC8Eg0N90cuJ4nbP2CWGb1IYknFGUHat+p4Q73AkkCKadWa+lbrk/PcCzqCyAL/j8ULFCcbCsjVxZanaLNfAR74IS6IjcBEdZdt7EyW+Wk7uGwvDqT9rHHYq3iCcnyRZxYAWOgJkJH4m6y4/bQkKjgAwfm+zQscgERWhXi8NoLITA==-----END PKCS7-----\
      ')
      input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
      img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
                  
    h1 Step 1: Download
    ul
      li
        a(href="/node_latest_armhf.deb", class="download-link") v#{versions[0].version} 
        span(class="download-count") (#{versions[0].downloads} downloads)
      li
        a(href="/node_#{versions[1].version}_armhf.deb", class="download-link") v#{versions[1].version} 
        span(class="download-count") (#{versions[1].downloads} downloads)
      li
        a(href="/node_#{versions[2].version}_armhf.deb", class="download-link") v#{versions[2].version} 
        span(class="download-count") (#{versions[2].downloads} downloads)

    span(class="download-count") Total Downloads: #{total}
    code
      pre.
        To Download via command line
        * wget http://node-arm.herokuapp.com/node_latest_armhf.deb

        Other options are
        * http://node-arm.herokuapp.com/node_#{versions[1].version}_armhf.deb
        * http://node-arm.herokuapp.com/node_#{versions[2].version}_armhf.deb

    h1 Step 2: Install
    code
      pre.
        sudo dpkg -i node_latest_armhf.deb
        # Check installation
        node -v
