extends layout

block content
  header
    div(id="title")
      img(id="title-img", src="images/logo.png", class="img-responsive",alt="Responsive image")
    div(id="subtitle")
      span An easy way to install node.js on the Raspberry Pi
  div(class="separator")
  div(class="row content")
    div(class="col-md-2")
      img(class="img-circle content-img center-block", src="images/nodejs.png", style="margin-top: 50px;")
      span(class="caption") Node.JS
    span(class="col-md-2 equation") +
    div(class="col-md-2")
      img(class="content-img center-block", src="images/rpi.png")
      span(class="caption") Raspberry Pi
    span(class="col-md-2 equation") =
    div(class="col-md-4")
      img(class="img-circle content-img center-block", src="images/project.png")
      span(class="caption") Cool Projects!
  div(class="separator")
  div(id="steps")
    h1 Step 1: Download
    ul
      li
        a(href="/node_latest_armhf.deb", class="download-link") v#{versions[0].version} 
        span(class="download-count") (#{versions[0].downloads} downloads)
      li
        a(href="/node_#{versions[1].version}_armhf.deb", class="download-link") v#{versions[1].version} 
        span(class="download-count") (#{versions[1].downloads} downloads)
      li
        a(href="/node_#{versions[2].version}_armhf.deb", class="download-link") v#{versions[2].version} 
        span(class="download-count") (#{versions[2].downloads} downloads)

    span(class="download-count") Total Downloads: #{total}
    code
      pre.
        To Download via command line
        * wget http://node-arm.herokuapp.com/node_latest_armhf.deb

        Other options are
        * http://node-arm.herokuapp.com/node_#{versions[1].version}_armhf.deb
        * http://node-arm.herokuapp.com/node_#{versions[2].version}_armhf.deb

    h1 Step 2: Install
    code
      pre.
        sudo dpkg -i node_latest_armhf.deb
        # Check installation
        node -v
