extends layout

block content
  header
    div(id="title")
      img(id="title-img", src="images/logo.png", class="img-responsive",alt="Responsive image")
    div(id="subtitle")
      span An easy way to install node.js on the Raspberry Pi
  div(class="separator")
  div(class="row content")
    div(class="col-md-2")
      img(class="img-circle content-img center-block", src="images/nodejs.png", style="margin-top: 50px;")
      span(class="caption") Node.JS
    span(class="col-md-2 equation") +
    div(class="col-md-2")
      img(class="content-img center-block", src="images/rpi.png")
      span(class="caption") Raspberry Pi
    span(class="col-md-2 equation") =
    div(class="col-md-4")
      img(class="img-circle content-img center-block", src="images/project.png")
      span(class="caption") Cool Projects!
  div(class="separator")
  div(id="steps")
    p Updates are posted to 
      a(href="http://redandwhite.herokuapp.com/", target="_blank") http://redandwhite.herokuapp.com/
    p View on Github
      iframe(src='https://ghbtns.com/github-btn.html?user=nathanjohnson320&repo=node_arm&type=star&count=true', frameborder='0', scrolling='0', width='170px', height='20px')
    p Donations are welcome :)
      form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIHJwYJKoZIhvcNAQcEoIIHGDCCBxQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBfH2R6He1pw9/OImIIl1K5xXedNRdCzZ9AJZk6MHOPrzIlRHkYnRWeyQXp+NEoh/zVqrhqP0/nTNLxKV0RD4Uq/aBtdn1i5m5krWi2tTkDBqykILwYpTVXS4vdyRXpViYoRD+X5QHG8K8IBq/Dxv7X6JOw1BA8sUHBdos28430jzELMAkGBSsOAwIaBQAwgaQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIW9LdhH7LwI+AgYDNSBUplC1uEtEMEF4pcTTxEyqUM56316OhoecGFji82Fi3zVEetb3bpzBQqRf5rwx5S1qYsagAv9xYPEOqu3Il6SwF1T3MwPvGvM6icHGPrD4xO1/ZwDhYqgkQnEkq6Ef945QY3mWNCB9/NqbG/a60AVbbgMNH1TByTu+4XPbX16CCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE1MDMxNTE3NTAyNlowIwYJKoZIhvcNAQkEMRYEFPrivpT/iJw5ZcmRx7oo3/Aq74fDMA0GCSqGSIb3DQEBAQUABIGAgZmjK+dNa4SDb2vzK119vWe93clKxFBivTU23bRQO5tAR8HvBpK29TeH9TTHWLrZZbMLZ64AK+jUDOsB5rJu1jRPpvrEZbJFo+ajZySjrXFgDn7LBnnj4lpOvwtnvYlp73A9x6qBU+cOxh3uqvs99i3Z6Ariz+k2D1JQ+appopE=-----END PKCS7-----\
        ')
        input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
        img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
                  
                  
    h1 Step 1: Download
    ul
      li
        a(href="/node_latest_armhf.deb", class="download-link") v#{versions[0].version} 
        span(class="download-count") (#{versions[0].downloads} downloads)
      li
        a(href="/node_#{versions[1].version}_armhf.deb", class="download-link") v#{versions[1].version} 
        span(class="download-count") (#{versions[1].downloads} downloads)
      li
        a(href="/node_#{versions[2].version}_armhf.deb", class="download-link") v#{versions[2].version} 
        span(class="download-count") (#{versions[2].downloads} downloads)

    span(class="download-count") Total Downloads: #{total}
    code
      pre.
        To Download via command line
        * wget http://node-arm.herokuapp.com/node_latest_armhf.deb

        Other options are
        * http://node-arm.herokuapp.com/node_#{versions[1].version}_armhf.deb
        * http://node-arm.herokuapp.com/node_#{versions[2].version}_armhf.deb

    h1 Step 2: Install
    code
      pre.
        sudo dpkg -i node_latest_armhf.deb
        # Check installation
        node -v
